body {
	background-color: #FFE2E2;
}

h1 {
	font-family: 'Rammetto One', cursive;
	font-size: 60px;
	letter-spacing: 10px;
	color: #FF3969;
}

p {
	font-family: 'Red Rose', cursive;
	font-size: 18px
}

img {
	width: 100%;
	height: auto;
	border-radius: 15px;
}

audio {
	width:  400px;
}

section {
	margin-bottom: 0;
	display: flex;
}

.headingone {
	position: fixed;
	left: 30px;
	top: 30px;
	writing-mode: vertical-rl;
	text-orientation: upright;
}

.headingtwo {
	position: fixed;
	right: 30px;
	bottom: 10px;
	writing-mode: vertical-rl;
	text-orientation: upright;
}

.container1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:  center;
	margin: auto;
	width: 70%;
}

* {
  box-sizing: border-box;
}

.row {
	display: flex;
	padding-top: 20vh;
}

.columnleft {
	flex: 40%;
	padding: 30px;
}

.quote1 {
	width: 300px;
}

.container2 {
	flex-direction: column;
	justify-content: center;
	align-items:  center;
	margin: auto;
	padding-top: 50px;
}

.columnright2 {
	flex: 40%;
	padding: 30px;
}

.audiocontainer {
	padding: 50px;
}

.quote2 {
	width: 300px;
	padding-top: 200px;
	text-align: right;
}

.quote3 {
	width: 300px;
	padding-top: 500px
}

.portalcontainer {
	width: 100%;
	margin-top: 300px;
}

.cutout {
	opacity: 0.4;
	width: 100%;
}

.cutout:hover {
	cursor: pointer;
	opacity: 1;
}

.mobiletext {
	display: none;
}

/* media query for mobile*/
@media only screen and (max-width:  800px) {
	h1 {
	font-size: 35px;
	letter-spacing: 5px;
	}

	p {
		font-size: 16px
	}

	img {
		width: 100%;
	}

	audio {
		width:  200px;
	}

	.row {
		flex-direction: column;
	}

	.headingone {
		left: 10px;
		top: 20px;
	}

	.headingtwo {
		right: 10px;
		bottom: 20px;
	}

	.container1 {
		width: 100%;
	}

	.columnright {
		width: 100%;
		align-items: center;
		justify-content: center;
		margin: auto;
		padding-left: 23%;
	}

	.columnright, .columnleft {
		width: 100%;
	}

	.columnright2 {
		width: 100%;
		align-items: center;
		justify-content: center;
		margin: auto;
	}

	.columnright2, .columnleft2 {
		width: 100%;
	}

	.quote1{
		width:  300px;
	}

	.quote2 {
		padding-top: 0px;
		margin-left: 40%;
		width: 200px;
	}

	.quote3 {
		padding-top: 0px;
	}

	.cutout {
		opacity:1;
	}

	.mobiletext {
		text-align: right;
		padding-right: 15px;
		padding-top: 30px;
		display: block;
	}
}