body {
	animation-name: bgchange;
	animation-duration: 7s;
	animation-iteration-count: infinite;
}

h1 {
	font-family: 'Rammetto One', cursive;
	font-size: 60px;
	letter-spacing: 10px;
	color: #FF3969;
	margin: 0;
}

section {
	margin-bottom: 0;
	display: flex;
}

img {
	width: 100%;
	border-radius: 15px;
}

a {
	text-decoration: none;
	animation:  textgradient 7s infinite;
}

@keyframes textgradient {
	0% {
		color: #FFEC65;
	}
	25% {
		color: #79F051;
	}
	50% {
		color: #56B5FF;
	}
	75% {
		color: #9D81FF;
	}
	100% {
		color: #FFEC65;
	}
}

a:visited {
	text-decoration: none;
	color: #FF3969;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
	font-style: italic;
}

a:active {
	text-decoration: none;
	color: #FF3969;
}

.glow {
	color: #FF3969;
}

@keyframes bgchange {
	0% {
		background: #FFFDCC;
	}
	25% {
		background: #D9FFCC;
	}
	50% {
		background: #E0F9FF;
	}
	75% {
		background: #EEE9FF;
	}
	100% {
		background: #FFFDCC;
	}
}

.header {
	margin-left: 8%;
	align-items: center;
	width: 65%;
	height: 100vh;
	margin-bottom: 300px;
}

.container {
	flex-direction: column;
	position: relative;
	align-items:  center;
	margin: auto;
}

.keyboardcontainer {
	position: absolute;
	width: 70%;
	margin-right: 20%;
	height: 0;
}

.anch1 {
	position: absolute;
	width: 40%;
	margin-top: calc(70% - 100px);
	height: 0;
}

.friendscontainer {
	position: absolute;
	width: 70%;
	margin-top: calc(160% - 100px);
	margin-left: 20%;
	height: 0;
}

.iframecontainer {
	position: absolute;
	width: 90%;
	padding-bottom: 56.25%;
	height: 0;
	margin-top: calc(315% - 100px);
}
.iframecontainer iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 90%;
  height: 80%;
}

.anch2 {
	position: absolute;
	width: 30%;
	margin-top: calc(220% - 100px);
	margin-right: 50%;
	height: 0;
}

.anch3 {
	position: absolute;
	width: 30%;
	margin-top: calc(250% - 100px);
	margin-left: 15%;
	height: 0;
}

.stickers {
	position: relative;
	width: 102%;
}

.end {
	margin-left: 25%;
	align-items: center;
	width: 65%;
	height: 100vh;
	margin-top: 700px;
	text-align: right;
}

* {
  box-sizing: border-box;
}

/* media query for mobile*/
@media only screen and (max-width:  800px) {
	h1 {
		font-size: 35px;
		letter-spacing: 5px;
		text-align: center;
	}
	.header {
		justify-content: center;
		align-items: center;
		margin: auto;
		height: 100vh;
		margin-bottom: 50px;
	}
	.stickers {
		width: 105%;
	}
	.instaslidecontainer {
		margin-top: calc(90% - 100px);
	}
	.end {
		justify-content: center;
		align-items: center;
		margin: auto;
		text-align: center;
	}

}