body {
	background-color: white;
}

p {
	font-family: 'Varela Round', sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
}

img {
	width: 8%;
	height: auto;
	display: block;
	margin: auto;
	padding: 20px;
}

img:hover {
	cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction:  column;
  align-items: center;
  height: 30vh;
}

.sunnyBg {
	background-color: yellow;
}

.cloudyBg {
	background-color: gray;
}

.rainyBg {
	background-color: blue;
}

.snowyBg {
	background-color: pink;
}