body {
	background-color: white;
}

p {
	font-family: 'Varela Round', sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
	text-align: center;
}

img {
	width: 8%;
	height: auto;
	display: block;
	margin: auto;
	padding: 15px;
}

img:hover {
	cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction:  column;
  align-items: center;
  height: 20vh;
}

.sunny: hover {
	cursor: pointer;
}

.cloudy: hover {
	cursor: pointer;
}

.rainy: hover {
	cursor: pointer;
}

.snowy: hover {
	cursor: pointer;
}

.sunnyBg {
	margin-top: 100px;
	background: #FFF8DB;
}

.cloudyBg {
	margin-top: 100px;
	background-color: #E6EFF7;
}

.rainyBg {
	margin-top: 100px;
	background-color: #BDCBDA;
}

.snowyBg {
	margin-top: 100px;
	background-color: #F8FBFF;
}

.imgChosen {
	background-color: white;
}

.disappear{
	display: none;
}

.nextactive {
	display: block;
}

.sunnyitem {
	display: none;
}

.sunnyappear {
	display: block;
}

.cloudyitem {
	display: none;
}

.cloudyappear {
	display: block;
}

.rainyitem {
	display: none;
}

.rainyappear {
	display: block;
}

.snowyitem {
	display: none;
}

.snowyappear {
	display: block;
}